/* *:hover{
    background-color: antiquewhite;
} */
.repositories{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}
.repo{
    width: 45%;
    border: solid 1px #ccc;

    background-color: rgba(235,235,235,1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom:10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease-in;
    cursor: pointer;

}
@media (max-width:768px)
{
    .repositories{

        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    
    }
    .repo{
        width: 100%;

    }

}


i{
    color: gray;
    margin-right: 5px;
}
.repo:hover{
    transform: scale(1.1,1.1);
    /* filter: invert(1); */
    background-color: rgb(91, 186, 184);
}

.title{
    /* overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; */


    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
     line-height: 1.5re;
     max-height: 1.5rem;

}
.title >span{
    color: #0366d6;
    font-weight: bold;
    cursor: pointer;
}
.desc{
    font-size: 14px;
    color: rgb(90,90,90);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
     line-height: 1.5re;
     max-height: 3rem;

}
.subitem{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
}
.descp{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.descp:hover{
    
}