.user_info{
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.user_info > img{
    border-radius: 50%;
    object-fit: contain;
}
.user_infoDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_infoDetails > h5{
    text-align: center;
}
.user_infos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.user_infoDetail{
    font-size: 14px;
    margin-right: 15px;
    color: gray;
    display: flex;
    align-items: center;
}